<!--这个界面是母版页，只展示页面最下方的“时间-Peach购物网站”，其他内容均在各自界面的实现-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach购物网站</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/jqueryui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jquery-unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    
    <div class="container body-content">
        @RenderBody() <!--这里是其他界面进入的语句-->
        <hr />
        <footer>
            <div class="text-center">@DateTime.Now.Year.@DateTime.Now.Month.@DateTime.Now.Day - Peach购物网站</div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
