<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach 购物网</title>
    @Html.Partial("~/Views/Shared/Partialinfo.cshtml")

</head>
@{
    var ajaxop = new AjaxOptions
    {
        UpdateTargetId = "leftview",
        OnFailure = "OnFailure"
    };

    var ajaxmainwindow = new AjaxOptions
    {
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}

<body>
    <div class="row" style="margin:0px;">
        <div class="col-md-3 col-lg-3" id="left" style="border-right:1px solid #C0C0C0 ;margin: 0px 5px 0px ;">
            <div class="row">
                <!--Nav-->
                <nav class="navbar navbar-default">
                    <!-- Brand -->
                    <a class="navbar-brand" href="https://localhost:44370">
                        <img src="~/Images/Logo/logo.png" alt="logo" style="width:20px;height:20px;" />
                    </a>

                    <!-- Navbar links -->
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("商家版", "SellerLogin", "Users", new { area = "Area_User" }, new { @class = "list-group-item" })</li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <!--购物车-->
                        <li id="mystate"></li>
                        <!--订单通知-->
                        <li>@Ajax.ActionLink(" ", "Index", "Orders", new { area = "Area_Order" }, ajaxop, new { @class = "glyphicon glyphicon-bell" })</li>
                        <!--用户信息-->
                        <li>@Ajax.ActionLink(" ", "Index", "Users", new { area = "Area_User" }, ajaxop, new { @class = "glyphicon glyphicon-user" })</li>
                    </ul>

                </nav>
            </div>
            <div class="row" id="leftview">
                @Html.Partial("~/Views/Customer/Left_index.cshtml")                
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div id="mainWindow" style="overflow-y:auto; overflow-x:hidden">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var body = (document.compatMode && document.compatMode == 'CSS1Compat') ? document.documentElement : document.body;
            $("#left").css({ minHeight: body.clientHeight });
            $("#mainWindow").css({ minHeight: body.clientHeigh });
            IsState();
        });

        function IsState() {
            var c = '@TempData["us"]';
            //alert(c);
            //if (Session["us"] == null)
            //    alert(0);
            //alert(0);
            var LoginLink = "<li><a class=\"glyphicon glyphicon-shopping - cart\" data-ajax=\"true\" data-ajax-failure=\"OnFailure\" data-ajax-mode=\"replace\" data-ajax-update=\"#mainWindow\" href=\" / Area_Favorites / Favorites\"> </a></li>";
            //alert(LoginLink);
            var CartLink = "<a class=\"glyphicon glyphicon-shopping-cart\" data-ajax=\"true\" data-ajax-failure=\"OnFailure\" data-ajax-mode=\"replace\" data-ajax-update=\"#leftview\" href=\"/Area_User/Users\"> </a>";
            if ( c == '')
                // alert(LoginLink);
                $("#mystate").html(LoginLink);
            else
                $("#mystate").html(LoginLink);
        }

        function OnFailure(xhr) {
            $("body").html(xhr.responseText);
        }
    </script>
</body>
</html>
