@{
    ViewBag.Title = "Home Page";
}
<!--这里做商品界面下面的商品-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!--这个div里是上面的横条栏-->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Peach购物网站", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-left :16px">@Html.ActionLink("用户登录", "Index", "Customer")</li> <!--转至用户登录界面-->
                    <li style="margin-left :16px">@Html.ActionLink("商家登录", "LoginForm", "Customer")</li> <!--转至商家登录界面-->
                    <li style="margin-left :8px">@Html.ActionLink("关于", "About", "Home")</li>
                    <li style="margin-left :0px">@Html.ActionLink("退出", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
商品界面