
@{
    ViewBag.Title = "order_done";
}

@model IEnumerable<Shopping.Models.Order>

<link href="~/css/public.css" rel="stylesheet" />
<link href="~/css/myorder.css" rel="stylesheet" />


@foreach (var item in Model)
{

    <div class="dkuang">
        <p class="one"> @Html.DisplayFor(modelItem => item.State)</p>
        <div class="word clearfix">
            <ul class="fl clearfix">
                <li>@Html.DisplayFor(modelItem => item.StartTime)</li>
                <li>@Html.DisplayFor(modelItem => item.User.Name)</li>
                <li>@Html.DisplayFor(modelItem => item.Logistics)</li>
                <li>在线支付</li>
            </ul>
            <p class="fr">订单金额：<span>@Html.DisplayFor(modelItem => item.Commodity.Price)</span>元</p>
        </div>
        <div class="shohou clearfix">
            <a href="#" class="fl"><img src="@Html.DisplayFor(modelItem => item.Commodity.Image)" /></a>
            <p class="fl"><a href="#">@Html.DisplayFor(modelItem => item.Commodity.Name)</a><a href="#">@Html.DisplayFor(modelItem => item.Commodity.Price)×1</a></p>
            <p class="fr">
                @Html.ActionLink("订单详情", "Details", new { id = item.Id })
            </p>
        </div>
    </div>
}




