
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach 购物网</title>
    @Html.Partial("~/Views/Shared/fileupload_PartialRef.cshtml")

</head>
@*@model Shopping.Models.User*@
@{
    var ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading",
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Peach购物管理系统", "Index", "Seller", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (@Session["username"] == null)
                        {
                            <li style="margin-left :24px"><a href="~/Area_User/Users/SellerLogin">登录</a> </li>
                            <li style="margin-left :16px"><a href="~/Area_User/Users/SellerCreate">注册</a></li>
                        }
                        else
                        {
                            <li style="margin-left :24px;color:white;margin-top:15px">欢迎，@Session["username"]</li>
                            <li style="margin-left :16px">@Html.ActionLink("退出", "LoginOut", "Users", new { area = "Area_User" }, ajaxOptions)</li>

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" >
        <div class="row"  style="margin-top:60px">
            <div class="col-md-3">
                <div class="leftMenu">
                    <h3 class="btn">账户信息</h3>
                    <div class="list-group">
                        @Html.ActionLink("我的账户", "SellerDetail", "Users", new { area = "Area_User", id = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                        @Html.ActionLink("我的银行卡", "SellerShowBank", "Bankcards", new { area = "Area_Bankcard", id = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                        @Html.ActionLink("修改密码", "SellerEditPwd", "Users", new { area = "Area_User" }, new { @class = "list-group-item" })
                    </div>
                    <h3 class="btn">我的店铺</h3>
                    <div class="list-group">
                        @Html.ActionLink("新建店铺", "Create", "Shops", new { area = "Area_Shop", sellerid = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                        @Html.ActionLink("已有店铺", "Index", "Shops", new { area = "Area_Shop", sellerid = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                     </div>
                    <h3 class="btn">我的订单</h3>
                    <div class="list-group">
                        @Html.ActionLink("未处理订单", "order_undone", "Orders", new { area = "Area_Order", sellerid = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                        @Html.ActionLink("已处理订单", "order_done", "Orders", new { area = "Area_Order", sellerid = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                        </div>
                    <h3 class="btn">我的收益</h3>
                    <div class="list-group">
                        @Html.ActionLink("查看收益", "profit", "Orders", new { area = "Area_Order",id = 4, sellerid = int.Parse(@Session["userid"].ToString()) }, new { @class = "list-group-item" })
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="mainWindow" style="border-left:2px solid ;margin-top:10px; padding:10px; overflow-y:auto; overflow-x:hidden">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var body = (document.compatMode && document.compatMode == 'CSS1Compat') ? document.documentElement : document.body;
            $("#left").css({ minHeight: body.clientHeight });
            $("#mainWindow").css({ minHeight: body.clientHeigh });
        });
        function OnFailure(xhr) {
            $("body").html(xhr.responseText);
        }
    </script>
</body>
</html>

