@model IEnumerable<Shopping.Models.Bankcard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankWebSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankWebSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
