@model Shopping.Models.Commodity

@{
    ViewBag.Title = "商品上新";
}

<script src="~/Scripts/ckeditor.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>商品上新</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group ">
    <label class = "control-label col-md-2" >上传商品主图</label>
    <input type="file" name="commodity_pic" />
</div>
    <div class="form-group">
        <label class="control-label col-md-2">商品名称</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">商品类别</label>
        <div class="col-md-10">
            <!--类别的下拉框-->>
            @Html.DropDownListFor(model => model.Type, ViewBag.set as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">商品单价</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">库存</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <label class="control-label col-md-2">商品详情</label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="上新" class="btn btn-default" />
        </div>
    </div>
</div>
}



<script>
    ClassicEditor
        .create(document.querySelector('#Introduction'), {
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        })

</script>

