@{
    Layout = "~/Views/Seller/SellerLayout.cshtml";
}
@model Shopping.Models.Shop

@{
    ViewBag.Title = "Create";
}
@{
    var ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading",
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}

<h2>新建店铺</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class = "control-label col-md-2">店铺名称</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">店铺头像</label>
            <input type="file" name="shop_pic"  />
        </div>

<div class="form-group">
    <label class = "control-label col-md-2">店铺评分</label>
    
    <div class="col-md-10">
        @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class = "control-label col-md-2">店铺地址</label>
   
    <div class="col-md-10">
        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class = "control-label col-md-2">开店时间</label>
  
    <div class="col-md-10">
        @Html.EditorFor(model => model.CreatTime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CreatTime, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class = "control-label col-md-2">经营许可证号</label>
   
    <div class="col-md-10">
        @Html.EditorFor(model => model.LicenseId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LicenseId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class = "control-label col-md-2">粉丝数</label>
   
    <div class="col-md-10">
        @Html.EditorFor(model => model.FansNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FansNumber, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="开店" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div class="col-md-4">
    @Html.ActionLink("返回商家管理", "Index", "Shops", new { area = "Area_Shop" },  new { @class = "list-group-item" })
</div>


