@model IEnumerable<Shopping.Models.Shop>

@{
    ViewBag.Title = "Index";
}

<h2>我的店铺</h2>

<table class="table">
    <tr>
       
        <th style="word-wrap:break-word;">
            <label >店铺名称</label>
        </th>
        <th style="word-wrap:break-word;">
            <label>店铺头像</label>
        </th>
        <th style="word-wrap:break-word;">
            <label>店铺评分</label>
        </th>
        <th>
            <label>地址</label>
        </th>
        <th>
            <label>注册时间</label>
        </th>
        <th>
            <label>执照</label>
        </th>
        <th>
            <label>粉丝数</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <!--显示商店头像-->
    <td>
       <img src = "@Html.DisplayFor(modelItem => item.Image)" width="100" height="100"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Score)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LicenseId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FansNumber)
    </td>
    <td>
        @Html.ActionLink("编辑店铺", "Edit", new { id = item.Id }, new { @class = "list-group-item" }) 
    </td>
    <td>
        @Html.ActionLink("新品上新", "Create", "Commodities", new { area = "Area_Commodity", id = item.Id }, new { @class = "list-group-item"  })
    </td>
    <td>
        @Html.ActionLink("查看商品", "Index", "Commodities", new { area = "Area_Commodity", id = item.Id  }, new { @class = "list-group-item" })
    </td>
</tr>
}

</table>
